*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}
.conterner .menu{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conterner .menu a{
    text-decoration: none;
    color: cornsilk;
}
.conterner .menu a:hover{
    color: aqua;
}

.conterner .jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    background:cornsilk

}